
/***********************************************************************

  $Id$

  dirsize resources

  Copyright (c) 1993-02 M. Kimes
  Copyright (c) 2003, 2008 Steven H.Levine

  15 Oct 02 MK Baseline
  04 Jan 08 SHL Sync with fm3dll.h mods

***********************************************************************/

#include "dll\fm3dll.h"
#include "dll\fm3dll2.h"
/* #include "dll\dirsize.h" */

DEFAULTICON                 icons\DIRSIZE.ICO

RCINCLUDE dirsize.dlg

BITMAP  MAIN_TRASHCAN       bitmaps\TRASH.BMP

BITMAP DIR_FRAME            bitmaps\FILE.BMP
BITMAP DIR_FOLDERICON       bitmaps\PMAP.BMP
BITMAP 65534                bitmaps\EMPTY.BMP
BITMAP IDM_DELETE           bitmaps\DELETE.BMP
BITMAP IDM_EXTRACT          bitmaps\EXTRACT.BMP
BITMAP IDM_PRINT            bitmaps\PRINT.BMP
BITMAP IDM_PERMDELETE       bitmaps\PERMDEL.BMP
BITMAP IDM_FINDFIRST        bitmaps\FINDFRST.BMP
BITMAP IDM_FINDNEXT         bitmaps\FINDNEXT.BMP
BITMAP IDM_FINDPREV         bitmaps\FINDPREV.BMP

