#include <os2.h>
#include "fm3.h"
#include "dll\fm3dll.h"

DEFAULTICON                 icons\FM4.ICO
ICON    1                   icons\FM4.ICO

BITMAP  MAIN_TRASHCAN       bitmaps\TRASH.BMP

BITMAP DIR_FRAME            bitmaps\FILE.BMP
BITMAP DIR_FOLDERICON       bitmaps\PMAP.BMP
BITMAP IDM_TOOLLEFT         bitmaps\TOOLLEFT.BMP
BITMAP IDM_TOOLRIGHT        bitmaps\TOOLRT.BMP
BITMAP IDM_INFO             bitmaps\INFO.BMP
BITMAP IDM_DELETE           bitmaps\DELETE.BMP
BITMAP IDM_EDIT             bitmaps\EDIT.BMP
BITMAP IDM_TEST             bitmaps\TEST.BMP
BITMAP IDM_VIRUSSCAN        bitmaps\VIRUS.BMP
BITMAP IDM_EXEC             bitmaps\EXEC.BMP
BITMAP IDM_VIEW             bitmaps\VIEW.BMP
BITMAP IDM_PERMDELETE       bitmaps\PERMDEL.BMP
BITMAP IDM_RESCAN           bitmaps\RESCAN.BMP
BITMAP IDM_REFRESH          bitmaps\RESCAN.BMP
BITMAP IDM_ATTRS            bitmaps\ATTRLIST.BMP
BITMAP IDM_RENAME           bitmaps\RENAME.BMP
BITMAP IDM_SELECTALLFILES   bitmaps\SELECT.BMP
BITMAP IDM_SELECTALL        bitmaps\SELECT.BMP
BITMAP IDM_DESELECTALL      bitmaps\DESELECT.BMP
BITMAP IDM_ARCHIVE          bitmaps\ARCHIVE.BMP
BITMAP IDM_EXTRACT          bitmaps\EXTRACT.BMP
BITMAP IDM_MOVE             bitmaps\MOVER.BMP
BITMAP IDM_COPY             bitmaps\COPIER.BMP
BITMAP IDM_SHADOW           bitmaps\SHADOW.BMP
BITMAP IDM_UNDELETE         bitmaps\UNDELETE.BMP
BITMAP IDM_KILLPROC         bitmaps\KILLPROC.BMP
BITMAP IDM_INSTANT          bitmaps\INSTANT.BMP
BITMAP IDM_COMMANDLINE      bitmaps\CMDLINE.BMP
BITMAP IDM_PRINT            bitmaps\PRINT.BMP
BITMAP IDM_FILTER           bitmaps\FILTER.BMP
BITMAP IDM_EDITASSOC        bitmaps\ASSOC.BMP
BITMAP IDM_EDITCOMMANDS     bitmaps\COMMAND.BMP
BITMAP IDM_EAS              bitmaps\EA.BMP
BITMAP IDM_INIVIEWER        bitmaps\INI.BMP
BITMAP IDM_SYSINFO          bitmaps\SYSINFO.BMP
BITMAP IDM_SAVETOCLIP       bitmaps\SAVECLIP.BMP
BITMAP IDM_HELP             bitmaps\HELP.BMP
BITMAP IDM_WALKDIR          bitmaps\WALK.BMP
BITMAP IDM_SAVETOLIST       bitmaps\SAVELIST.BMP
BITMAP IDM_COLLECTOR        bitmaps\COLLECT.BMP
BITMAP IDM_COLLECT          bitmaps\COLLECT.BMP
BITMAP IDM_OBJECT           bitmaps\OBJECT.BMP
BITMAP IDM_WINDOWDLG        bitmaps\WINDOW.BMP
BITMAP IDM_MKDIR            bitmaps\MKDIR.BMP
BITMAP IDM_VIEWINFS         bitmaps\VIEWINFS.BMP
BITMAP IDM_MCIPLAY          bitmaps\PLAYMM.BMP
BITMAP IDM_OPENDEFAULT      bitmaps\OPEND.BMP
BITMAP IDM_COLLECTFROMFILE  bitmaps\COLLLIST.BMP
BITMAP IDM_GREP             bitmaps\GREP.BMP
BITMAP IDM_NOTEBOOK         bitmaps\NOTEBOOK.BMP
BITMAP IDM_SEEALL           bitmaps\SEEALL.BMP
BITMAP IDM_SELECTMASK       bitmaps\SELMASK.BMP
BITMAP IDM_DESELECTMASK     bitmaps\DSELMASK.BMP
BITMAP IDM_USERLIST         bitmaps\USERLIST.BMP
BITMAP IDM_OPENWALK         bitmaps\WALK.BMP
BITMAP FLOPPY_ICON          bitmaps\FLOPPY.BMP
BITMAP DRIVE_ICON           bitmaps\HDRIVE.BMP
BITMAP REMOVABLE_ICON       bitmaps\REMOV.BMP
BITMAP CDROM_ICON           bitmaps\CDROM.BMP
BITMAP REMOTE_ICON          bitmaps\REMOTE.BMP
BITMAP 65534                bitmaps\EMPTY.BMP
BITMAP LEDON_BMP            bitmaps\LEDON.BMP
BITMAP LEDOFF_BMP           bitmaps\LEDOFF.BMP
BITMAP LEDON2_BMP           bitmaps\LEDON2.BMP
BITMAP LEDOFF2_BMP          bitmaps\LEDOFF2.BMP
BITMAP IDM_SIZES            bitmaps\DIRSIZE.BMP
BITMAP DIR_MAX              bitmaps\DIRMAX1.BMP
BITMAP IDM_FINDFIRST        bitmaps\FINDFRST.BMP
BITMAP IDM_FINDNEXT         bitmaps\FINDNEXT.BMP
BITMAP IDM_FINDPREV         bitmaps\FINDPREV.BMP
BITMAP IDM_SETTARGET        bitmaps\TARGET.BMP
BITMAP IDM_CLEARCNR         bitmaps\CLEARCNR.BMP
BITMAP IDM_REMOVE           bitmaps\REMOVOBJ.BMP

BITMAP 26102                bitmaps\HECTOR.BMP
