
; $Id$

;  This file is used by ReleaseTool to provide information used to provide
;  various configuration data to ReleaseTool.cmd

;  ReleaseTool expects each line to be one of four types:
;  1) Blank/empty lines (which are ignored)

;  2) Comment lines. All text following a semicolon, ";", will be ignored.
;     Any line whose first non-blank is a semicolon, like this line, is
;     a comment line and will be ignored by ReleaseTool.

;     Section and data lines (below) can have end-of-line comments
;     (like C++'s // comments). This means key-values (see Data lines below)
;     may not have semicolons.

;  3) Section lines. Section lines are of the form:
;        [section-name]
;     Section lines mark the start of a new set of data.  The section
;     name (within the brackets) defines which type of data follows.
;     ReleaseTool currently supports section names: FTP, NNTP and SMTP.

;     FTP sections are used to define data for uploading one or more files
;     to a single site.

;     NNTP sections are used to define data for uploading messages to one
;     or more newsgroups on a single newsgroup server.

;     SMTP sections are used to define data for sending email messages
;     through a single email server. SMTP sections can be set up to use
;     an external program, like PMMail/2 or REXXMAIL, by defining an
;     appropriate command. If no command is defined then email is sent
;     using Releasetool's internal REXX code for opeing a socket to an
;     SMTP server, loggin in and sending the message.

;  4) Data lines. These lines provide the actual data to ReleaseTool.
;     The format of these lines is:
;        key-name = key-value
;     Whitespace is ignored. If a key-value has whitespace, then
;     enclose it with double quotes.

;     Key-name's are case-insensitive. Key-values are case sensitive.

;     The following table lists the key-names recognized by ReleaseTool, the
;     sections to which they apply, a code (explained below) and a short description:

;     Key-name             Sections Code  Description

;     HOST                 FTP      1     The host name of the server
;                          NNTP     2
;                          SMTP     1
;     USERID               FTP      2     The userid used to log in
;                          NNTP     2
;                          SMTP     2
;     PASSWORD             FTP      2     The password used to log in.
;                          NNTP     2
;                          SMTP     2
;     FROM                 NNTP     2     "From" email address
;                          SMTP     2
;     SIGNATURE            NNTP     4     Zero or more lines of "signature"
;                          SMTP     4
;     DESCRIPTIVE_HOSTNAME FTP      1     Text used by ReleaseTool to identify
;                                         an FTP site in messages to its users.
;     DIRECTORY            FTP      4     If a change directory command is needed
;                                         before uploading a file, then this key-value
;                                         should be provided. If more than one file
;                                         is to be uploaded and they are to be uploaded
;                                         into different directories, precede each set
;                                         of FILE lines by an appropriate Directory line.
;     FILE                 FTP      3     The local name of a file to be uploaded. This
;                                         should include path info if the file is not
;                                         in the same directory as ReleaseTool.
;     NEWSGROUPS           NNTP     1     A comma-separated list of newsgroups for this host.
;     PORT                 SMTP     5     Port number. Default: port 25

;     Codes:
;        1: Required, one per section.
;        2: Optional, but ReleaseTool will prompt for its value as needed.
;        3: Required, one or more per section
;        4: Optional, one or more per section
;        5: Optional, one per section

;     "Special" key-values:
;        Userid
;           [Not-needed]   : Userid not needed. (ReleaseTool will prompt for an absent userid.)
;        Password
;           [Hobbes-email] : ReleaseTool automatically replaces this with the email address from the Hobbes text file.
;           [Not-needed]   : Password not needed. (ReleaseTool will prompt for an absent password.)
;        File
;           [Release-Zip]  : ReleaseTool automatically replaces this with FM/2 release zip filename.
;           [Hobbes-text]  : ReleaseTool automatically replaces this with Hobbes text filename.

;     Password note: Instead of recording passwords in this file, it may be best to omit them and have
;        ReleaseTool prompt you for them, as needed.

;     "From" notes:
;        -  For newsgroups you may want to use a disguised email address to avoid spam.
;        -  Accepted formats:
;           "Full name" <user@domain.net>
;           <user@domain.net>
;           user@domain.net

;  Within a section, data lines can be in any order except DIRECTORY lines, if any, must precede
;     the FILE lines to which they apply.


[FTP]                   ; Hobbes upload definition
Descriptive_hostname    = Hobbes
Host                    = hobbes.nmsu.edu
Userid                  = anonymous
Password                = [Hobbes-email]
Directory               = /pub/incoming
File                    = [Hobbes-text]
File                    = [Release-zip]

[FTP]                   ; Netlabs upload definition
Descriptive_hostname    = Netlabs
Host                    = ftp.netlabs.org
Userid                  =
Password                =
Directory               = /fm2
File                    = [Release-zip]

;[NNTP]                  ; eComstation news server/groups definition
;Host         = news.ecomstation.nl
;Newsgroups   = ecomstation.apps
;Userid       = [Not-needed]
;Password     = [Not-needed]

[NNTP]                  ; ReleaseTool user's news server/groups definition
;Newsgroups  = comp.os.os2.apps,comp.os.os2.utilities
Newsgroups  = alt.test
Host        =
Userid      =
Password    =
From        = zjsmallz@osworld.net
Signature   = John Small
Signature   = (Remove z's for address)

[SMTP]
;Command     = g:\pmmail\bin\pmmsend -a G:\PMMail\Accounts\ygk_us0.act -t "%%TO%%" -s "%%SUBJECT%%" -m %%MESSAGE_BODY_FILE%%
;Command     = call d:\utils\internet\rexxmail\rexxmail /NewMessageSend "%%TO%% ?subject=%%SUBJECT%% &body=%%MESSAGE_BODY_FILE%%" /Address=%%FROM%% /SMTPServer=%%SERVER%% /SMTPUSER=%%USERID%% /SMTPPASSWORD=%%PASSWORD%% /TimeZone=%%UTCOFFSET%%
Host        = smtp.toast.net
Port        = 587
Userid      = jsmall@toast.net
From        = "John Small" <jsmall@os2world.net>
;Signature   = John Small
Signature   = FM/2 Development Team
UTCOffset   = -0500
